@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  padding: 50px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 5px;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 10px;
  display: flex;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.left-links {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.right-links {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.footer {
  padding: 10px;
  display: flex;
  background-color: #eeeeee;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}