@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  border: 1px solid red;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 20px;
  display: flex;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.left-links {
  display: flex;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.right-links {
  display: flex;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 0;
}